#  $Id: Makefile.xcode.top.tmpl 177661 2009-12-03 15:06:35Z gouriano $
#  Makefile template for Xcode
#######################################################################

include ./Makefile.mk

all :
	cd $(builddir) && $(MAKE) $(MFLAGS) all;

clean :
	cd $(builddir) && $(MAKE) $(MFLAGS) clean;

check :
	cd $(builddir) && $(MAKE) $(MFLAGS) check;

all_r : all
all_p : all
clean_r : clean
clean_p : clean
purge : clean
check_r : check
check_p : check

