BODY { font-family: Verdana, sans-serif; font-size: 10pt; }
.body { font-family: Verdana, sans-serif; font-size: 10pt; }
CODE { font-family: "Courier New", Courier, monospace; font-size: 10pt; }
PRE { font-family: "Courier New", Courier, monospace; font-size: 10pt; margin-left: 3em; }
H1 { font-family: Verdana, sans-serif; font-weight: bold; font-size: 10pt; }
